.App {
  text-align: center;
} 

.cover {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: flex;
}

.item {
  flex: 1;
  flex-basis: 120px;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: beige;
  opacity: 0.5;
  transition: bottom ease 0.5s;
}

.item:hover .overlay {
  bottom: 0;
  opacity: 0.7;
}

.tVCover {
  width: 100%;
}
